version: "3.5"

networks:
  wordpress_network:
    external: true

services:
  {{ wordpress_service_name }}:
    image: wordpress:latest
    container_name: {{ wordpress_service_name }}
    ports:
      - {{ wordpress_port }}:80
    restart: always
    volumes: 
      - ./.htaccess:/var/www/html/.htaccess:rw
      - ./data:/var/www/html:rw
    environment:
      WORDPRESS_DB_HOST: wordpress_db:3306
      WORDPRESS_DB_USER: {{ mysql_user }}
      WORDPRESS_DB_PASSWORD: {{ mysql_password }}
      WORDPRESS_DB_NAME: {{ mysql_database }}
      WORDPRESS_TABLE_PREFIX: {{ wordpress_table_prefix }}
    networks:
      - wordpress_network